<div class="body-div">
  <div class="nav-bar-div">
    <div class="logo">
      <a href="/">
        <p>Insta</p>
      </a>
    </div>
    <div class="search-box">
      <form action="/search_profile" method="get">
        <input type="text" placeholder="Search" class="search" required pattern=".*\S+.*" title="Search field cannot be Blank" name="q">
        <button type="submit"><em class="fa fa-search" aria-hidden="true"></em>
        </button>
      </form>
    </div>
    <div class="nav-icon"><a href="/"><i class="fa-solid fa-house"></i></a></div>
    <div class="nav-icon"><a href="/posts/new"><i class="fa-solid fa-circle-plus"></i></a></div>
    <%# <div class="nav-icon"><a href=""><i class="fa-solid fa-heart"></i></a></div> %>
    <div class="profile-icon"><i class="fa-solid fa-circle-user"></i>
      <div class="dropdown-content">
        <%= link_to "Profile" ,"/profile/new" , method: :get, class:"a"%>
        <%= link_to "Log Out","/users/sign_out", method: :delete, class:"a" %>
      </div>
    </div>
  </div>
</div>

  <div class="post-main-div">
    <div class="add-post-div">
     
      <form action="/new_posts", method="post" enctype='multipart/form-data'>
        <input type = "hidden" name = "authenticity_token" value = "<%= form_authenticity_token %>">
        <input type="text" value="<%= current_user.id %>" name="user_id" hidden>
        <input type="file" name="image" class="post-form" required>
        <input type="text" name="description" placeholder="Description" class="post-form" required>
        <input type="submit" name="Post" class="add-post">
      </form>
    </div>
  </div>

