/* // Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

.body-profile {
    margin-top: 3px;
}

.main-profile {
    display: flex;
    justify-content: center;
}
.profile-photo i {
    font-size: 150px;
    padding: 20px;
    margin: 5px;
}
.profile-view {
    display: block;
    padding: 20px;
    margin: 5px;
}
.uname-class {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: bold;

}
.follow-class {
    display: flex;
    justify-content: center;
}
.follow-class p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    padding: 5px;
}
.name-class {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.post-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    border-top: 2px solid black;
}
.users-posts {
    border: 2px solid black;
    border-radius: 5px;
}

/* search-profile css */

.body-search-profile {
    display: flex;
    justify-content: center;
}
.main-search-profile {
    display: block;
  
}
.search-profile-view {
    display: flex;
    justify-content: center;
}

